header {
  display: flex;
  height: 400px;
  width: 100%;
  flex-direction: column;
  /* border: 5px solid red; */

  justify-content: center;
  align-items: center;
  background-color: #e36a00;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");

  

}

/* header > div {
  display: flex;
  border: 5px solid red;
} */